$bg-color: #ffffff !default;
$text-color: #000000 !default;
$card-bg: #f0f0f0 !default;
$primary-color: #f4a261 !default;
$button-bg: #ff6600 !default;
$button-hover: #ff4500 !default;
$secondary-color: #0077cc !default;
$navbar-bg: #f4f4f4 !default;

$bg-overlay: rgba(0, 0, 0, 0.6) !default;
$modal-bg: #1c3b5a !default;
$code-bg: #2d2d2d !default;
$code-text: #ffcc00 !default;

$dark-bg-color: #1e1e1e !default;
$dark-text-color: #eeeeee !default;
$dark-card-bg: #333333 !default;
$dark-primary-color: #b897ff !default;
$dark-button-bg: #cc5200 !default;
$dark-button-hover: #b34700 !default;
$dark-navbar-bg: #333333 !default;
$dark-modal-bg: #101010 !default;

$input-bg: #e0e0e0 !default;
$input-border: #cccccc !default;
$input-text: #000000 !default;
