<div class="info-container" [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
  <header class="info-header">
    <h1>Acerca de DigimonAPI</h1>
  </header>
  <section class="info-grid">
    <div class="info-card1" data-type="Descripción">
      <h2>Descripción</h2>
      <p>DigimonAPI es una API que proporciona datos detallados sobre Digimon, permitiendo búsquedas avanzadas, filtrado y gestión de favoritos.</p>
    </div>
    <div class="info-card2" data-type="Tecnologías">
      <h2>Tecnologías</h2>
      <p>Angular, SCSS, CSS Grid y Flex, entre otras tecnologías modernas.</p>
    </div>
    <div class="info-card3" data-type="Funciones">
      <h2>Funciones</h2>
      <p>Búsqueda por nombre, filtrado por atributo, paginación, modo oscuro y animaciones interactivas.</p>
    </div>
    <div class="info-card4" data-type="Estilos">
      <h2>Estilos</h2>
      <p>Uso de animaciones, transiciones, pseudoelementos, combinadores, selectores de atributos, transformaciones, mix-blend-mode, máscaras, y ahora además Grid para posicionar elementos de forma responsive.</p>
    </div>
  </section>
  <section class="info-grid-img">
    <div class="info-img1" data-type="Descripción" index="1">
      <img src="assets/digi1.jpg">
    </div>
    <div class="info-img2" data-type="Tecnologías" index="2">
      <img src="assets/digi2.png">
    </div>
    <div class="info-img3" data-type="Funciones" index="3">
      <img src="assets/digi3.jpg">
    </div>
    <div class="info-img4" data-type="Estilos" index="4">
      <img src="assets/digi4.jpeg">
    </div>
  </section>
  <section class="digiWalk">
    <img src="assets/digimonWalk1.png" alt="Digimon Caminando">
  </section>
  <footer class="info-footer">

    <p>© 2023 DigimonAPI <span class="google-icon"></span></p>
  </footer>
</div>
