<div [ngClass]="isDarkMode ? 'dark-navbar' : 'navbar'"> <!-- Indica si se va usar el tema oscuro o default-->
  <a href="">
    <span class="material-icons">home</span> Inicio
  </a>
  <a href="/buscador">
    <span class="material-icons">search</span> Buscador
  </a>
  <a href="/info">
    <span class="material-icons">info</span> Info
  </a>
  <div class="profile-menu" *ngIf="logged">
    <span class="material-icons profile-icon" (click)="menuPerfil()">person</span>
    <ul class="dropdown-menu" *ngIf="isPerfilMenuOpen"> <!-- Dropdown-menu haciendo uso de un *ngIf-->
      <li (click)="changeTheme()">🌙 Cambiar tema</li>
      <li [routerLink]="'/favoritos'">⭐ Favoritos</li>
      <li (click)="cerrarSesion()">🚪 Cerrar sesión</li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
